<header class="brand">
	<h1><%= link_to "MovieTwitvia", root_path, :class=>"logo" %> <span>We’ll give you the actors, you give us the movie <%= link_to "Vote For Us!", "http://r09.railsrumble.com/teams/intridea-on-rails" %></span></h1>
	
	<div id='user_bar'>
	  <% if logged_in? %>
		<p><%= image_tag(current_user.profile_image_url, :width => 24, :height => 24) %> Logged in as <strong>@<%= current_user.login %></strong>  <%= link_to 'Log out', '/logout' %></p>
	  <% else %>
	    <%= link_to 'Login via Twitter', '/login', :class => "login" %>
	  <% end %>
	</div>

</header>

