<aside>
  <section>
    <header class="first">
      <h2>How do I play?</h2>
    </header>
    
      <ol class="steps">
        <li class="step1">
          <stong><%= link_to "Associate", '/login' %> your Twitter account</strong>
        </li>

        <li class="step2">
          <%= link_to image_tag("http://static.twitter.com/images/business/follow/follow_twitter_button_d.png", :alt => "Follow us on Twitter"), "http://twitter.com/MovieTwitvia", :title => "Follow us on Twitter" %>
        </li>
        
        <li class="step3">
          <strong>We'll send you a questions out via @MovieTwitvia</strong>
			"What movie did Woody Allen, Diane Keaton, and Tony Roberts star in 1977?"
		  <strong>Just give us the answer</strong>
          "@MovieTwitvia is it Annie Hall?"
        </li>
        
        <li class="step4"><strong>Sit tight and find out if you are the winner of the round and get ready for the next question</strong></li>
      </ol>

    <header>
      <h2>The Leaders</h2>
    </header>
    
    <p class="sort">
      <%= link_to '24 hours', static_path(:time_period => '24-hours'), :class => "#{'current' if params[:time_period] == '24-hours'}" -%>
      <%= link_to 'this week', static_path(:time_period => 'last-week'), :class => "#{'current' if params[:time_period] == 'last-week'}" -%>
      <%= link_to 'all time', static_path, :class => "#{'current' if params[:time_period] == 'all-time' || params[:time_period].nil?}" -%>
    </p>
    
    <ol>
      <% @leaders.each do |leader| %>
        <li><%= link_to "#{leader.login}", twitter_profile_url(leader) %> <%= leader.winnings.send(User::METHOD_MAP[params[:time_period] || 'all-time']).size %></li>
      <% end %>
    </ol>

    <header>
      <h2>Latest Winning Tweets</h2>
    </header>
    <div id="twtr-search-widget"></div>
    <script src="http://widgets.twimg.com/j/1/widget.js"></script>
    <!-- <link href="http://widgets.twimg.com/j/1/widget.css" type="text/css" rel="stylesheet"> -->
    <script>
    new TWTR.Widget({
      search: '#MovieTwitvia won from:MovieTwitvia',
      id: 'twtr-search-widget',
      loop: false,
      title: '',
      subject: '',
      width: 270,
      height: 150,
      theme: {
        shell: {
          background: '',
          color: ''
        },
        tweets: {
          background: '#E5EFFB',
          color: '',
          links: '#007195'
        }
      }
    }).render().start();
    </script>
  </section>
</aside>