<aside>
  <section>
    <header class="first">
      <h2>How do I play?</h2>
    </header>
    
      <ol class="steps">
        <li class="step1">
          <p><%= link_to "Associate", '/login' %> your Twitter account</p>
        </li>

        <li class="step2">
          <%= link_to image_tag("http://static.twitter.com/images/business/follow/follow_twitter_button_d.png", :alt => "Follow us on Twitter"), "http://twitter.com/MovieTwitvia", :title => "Follow us on Twitter" %>
        </li>
        
        <li class="step3">
          <p>@MovieTwitvia will send you a question 
			<span>"What movie did Chevy Chase, Bill Murray, and Cindy Morgan star in 1980?"</span></p>
		  <p>Send us the answer
          	<span>"@MovieTwitvia is it Caddyshack?"</span></p>
        </li>
        
        <li class="step4"><p>Sit tight and find out if you are the winner of the round and get ready for the next question</p></li>
      </ol>

    <header>
      <h2>Leaders 
		<span class="sort">
	      <%= link_to '24 hours', static_path(:time_period => '24-hours'), :class => "#{'current' if params[:time_period] == '24-hours'}" -%>
	      <%= link_to 'this week', static_path(:time_period => 'last-week'), :class => "#{'current' if params[:time_period] == 'last-week'}" -%>
	      <%= link_to 'all time', static_path, :class => "#{'current' if params[:time_period] == 'all-time' || params[:time_period].nil?}" -%>
	    </span>
	</h2>
    </header>
    

    
    <ol class="leaders">
      <%- @leaders.each do |leader| -%>
        <li><span><em><%= leader.winnings.send(User::METHOD_MAP[params[:time_period] || 'all-time']).size %></em> points</span> <%= link_to "#{leader.login}", twitter_profile_url(leader) %> </li>
      <%- end -%>
    </ol>

    <header>
      <h2>Past Winning Tweets</h2>
    </header>
    <div id="twtr-search-widget"></div>
    <script src="http://widgets.twimg.com/j/1/widget.js"></script>
    <link href="http://widgets.twimg.com/j/1/widget.css" type="text/css" rel="stylesheet">
    <style>
    .twtr-bd{padding:0;}
    .twtr-timeline{-moz-border-radius-bottomleft:0;-moz-border-radius-bottomright:0;-moz-border-radius-topleft:0;-moz-border-radius-topright:0;}
    #twtr-search-widget .twtr-doc .twtr-tweet-text { padding-left:15px; }
    </style>
    <script>
    new TWTR.Widget({
      search: 'from:MovieTwitvia won',
      id: 'twtr-search-widget',
      loop: true,
      title: '',
      subject: '',
      width: 250,
      height: 300,
      theme: {
        shell: {
          background: '',
          color: ''
        },
        tweets: {
          background: '#E5EFFB',
          color: '',
          links: '#007195'
        }
      }
    }).render().start();
    </script>
  </section>
</aside>